@media only screen and (max-width:767px){.mbdWeb{display:none!important}.mbdTablet{display:none!important}
.Btn1{padding:0;border-left:0;border-right:0}.PushBox1{display:none}.visible-mobile{display:block}
.hidden-mobile{display:none}.bcHouseSelect{padding:0}.page-chantier-intro .BtnCorner1.Btn1{padding:5px;text-align:center;width:185px}
.page-chantier-intro .BtnCorner1.Btn1 .picto img{width:25px}.page-chantier-intro .BtnCorner1 #spanConcept{font-size:14px;text-align:center;line-height:24px}
.page-chantier-intro .BlocMarque{left:25%;top:0}.page-chantier-intro .BlocMarque .nbrChantiers{left:20%;top:73.5%}
.page-chantier-intro.bcHouseIntro .mbdIntroAllDatas{height:475px;overflow:hidden}
.page-chantier-intro .line:before,.page-chantier-intro .line:after{content:"";display:table}
.page-chantier-intro .line:after{clear:both}body .BlocQualite{margin:30px}body .blocTopQualite{margin:0;padding:40px 20px}
body .blocTopQualite .btqLeftContent{padding:0;float:left;width:50%}body .blocTopQualite .btqRightContent{padding:0;float:left;width:50%}
body #homeBaseline{bottom:140px}body .imgResp.introBG{width:auto;height:auto;max-width:none}
body .btnVoirChantiers{position:absolute;bottom:0;left:0}body .BlocQualite .blocTopQualite .btqLeftContent{padding:0 0 20px 0}
.page-chantier-intro .BlocQualite .blocTopQualite,.page-chantier-intro .BlocQualite .blocMiddleQualite,.page-chantier-intro .BlocQualite .blocBottomQualite{margin-left:0;margin-right:0}
.BlocQualite .blocMiddleQualite .btqRightContent{padding:25px 0 0 0}.BlocQualite .blocMiddleQualite .btqRightContent p{float:left;width:50%}
.BlocQualite .blocMiddleQualite .btqRightContent img{float:left;margin-left:20px;width:35%;max-width:30%}
.BlocQualite .blocMiddleQualite{padding:40px 20px}.BlocQualite .blocBottomQualite{padding:0 10px 65px}
.BlocQualite .BtnCorner1 #spanConcept{width:100px;font-size:12px}.BlocQualite .Btn1.btn1PictoLeft .picto{margin-right:0}
.BlocQualite .blocMiddleQualite,.page-chantier-intro .blocBottomQualite{margin:0}
.BlocQualite .BlocMarque.mBlocMarque1 .prix{left:4%!important}.BlocQualite .BtnCorner1.Btn1{padding:0}
.BlocQualite .MdbIntro .BtnCorner1{width:185px}.DetailChantier .BtnCorner1{display:none}
.DetailChantier .BlocMarque{margin:0 auto}.DetailChantier .SidebarRenovation_label{font-weight:bold}
.DetailChantier .PushBox1{top:135px}.DetailChantier .bcHouseContent{padding:0 0 20px 0}
.DetailChantier .PushBox1{display:block;bottom:auto;top:135px}.DetailChantier .SidebarRenovation{position:relative;min-height:535px;padding:10px 0 0 0;background:url("../images/chantiers/mobile/renovation-sdb.jpg") 0 135px no-repeat;background-size:100%}
.SidebarRenovation .HeaderMR{margin:0 auto}.HeaderMR.layout3 .prix,.HeaderMR.layout3 .surface{font-size:13px}
.SidebarRenovation .BoxChantier2,.SidebarRenovation .btnWrapper,.SidebarRenovation .SidebarRenovation_infos,.SidebarRenovation .SidebarRenovation_label{position:absolute;top:190px;margin:0;text-shadow:0 0 4px #fff}
.SidebarRenovation .SidebarRenovation_label{width:100%;margin-top:10px}.SidebarRenovation .BoxChantier2{margin-top:115px;left:20%;width:50%}
.SidebarRenovation .btnWrapper{top:auto;bottom:27px;width:100%}.SidebarRenovation .SidebarRenovation_infos{text-align:center;margin-top:192px;width:100%}
.SidebarRenovation .SidebarRenovation_infos li{font-size:10px;color:#333}.SidebarRenovation .Btn1{width:100%;height:50px;margin:0;line-height:50px;font-size:14px}
.PictoLink1{display:block;overflow:visible;margin:0 0 20px 0;text-align:center;text-decoration:none}
.PictoLink1 br{display:none}.ProductBoxWrapper{height:auto;padding:20px 5px;overflow:hidden}
.ProductBoxWrapper .ProductBox{width:30%}.PrixChantier .bcHouseContent{height:1200px;padding:15px}
.PrixChantier .bcHouseContent .ListPrixChantiers{margin:30px auto 0}.PrixChantier .ListPrixChantiers{background-color:#a1a29d}
.PrixChantier .ListPrixChantiers .BoxChantier{width:100%;margin:0}.PrixChantier .ListPrixChantiers .size1of12{display:none}
.BoxChantier{position:relative;padding:10px 0;height:auto;min-height:33px;border-top:1px solid #8d8d8b;border-bottom:1px solid #b0b0ae}
.BoxChantier .icon{display:none}.BoxChantier .title{margin-left:15px;margin-right:100px;padding:0;font-size:14px;font-weight:normal;color:White;border:0}
.BoxChantier .tarif{right:20px;top:10px}.BoxChantier:first-child{border-top:0}.BoxChantier:last-child{border-bottom:0}
.PrixChantier .BtnCorner1{display:none}.PrixChantier .mBlocMarque3{display:none}
.PrixChantier .mBlocMarque8{float:left;margin-top:-30px}.PrixChantier .maison,.PrixChantier .labelSelection{display:block}
.PrixChantier .maison{float:right;width:48%;margin-top:40px}.PrixChantier .labelSelection{clear:both;padding-top:30px;text-align:center}
.mbdTablet,.mbdWeb{display:none}.mbdIntroDesc{display:none}.search{padding:10px 3%}
.searchBox form input[type="text"]{width:78%;padding:0 0 0 2%}
.searchBox input[type="submit"]{width:20%;padding:24px 0}
.bcHouseIntro{padding:0}.PrixChantier .bcHouseContent .mbdDatasView{padding:20px 20px 30px 20px}
.mbdDatasView{position:relative;overflow:hidden}.mbdDatasView img{max-width:100%}
.mbdDatasView .mdbPriceSurface{position:relative;float:left;width:45%;margin:15px 0 0 25px}
.mbdDatasView .mdbPriceSurface img{width:65%}.mbdDatasView .thumbnail-maison{position:absolute;right:10%;top:90px;width:45%}
.mbdDatasView .mdbPriceSurface .surface,.mbdDatasView .mdbPriceSurface .tarif{left:8%;font-size:14px}
.mbdDatasView .mdbPriceSurface .surface{position:absolute;top:30%}.mbdDatasView .mdbPriceSurface .tarif{position:absolute;top:80%}
.bcHouseContent .hat{padding:0 20px}.mbdIntroLogo{position:absolute;top:5%;left:50%;display:block;width:90%;margin-left:-45%;z-index:5}
.bcHouseIntro .mbdIntroDatas{display:block;width:42%;position:absolute;top:25%;left:7%;font-size:23px}
.bcHouseIntro .priceData,.bcHouseIntro .surfaceData{left:3%}.bcHouseIntro .surfaceData{top:28%}
.bcHouseIntro .priceData{top:86%}.bcHouseIntro a .button{padding:15px 0}.bcHouseIntro .mbdIntroDatas{display:block;font-size:18px}
.bcHouseIntro .mbdIntroDatas{display:block;font-size:30px}.BlocQualite .blocTopQualite .btq-right{display:none}
.BlocQualite .blocMiddleQualite .btqRightContent p,.BlocQualite .blocTopQualite .btqLeftContent{width:auto;float:none}
.BlocQualite .blocMiddleQualite .btqRightContent img{display:none}}