#ct{width:100%}.cell{float:left}.size1of1{float:none}.size1of2{width:50%}.size1of3{width:33.33333%}
.size2of3{width:66.66666%}.size1of4{width:25%}.size3of4{width:75%}.size1of5{width:20%}
.size2of5{width:40%}.size3of5{width:60%}.size4of5{width:80%}.size1of6{width:16.66666%}
.size5of6{width:83.33333%}.size1of7{width:14.28571%}.size2of7{width:28.57142%}.size3of7{width:42.85714%}
.size4of7{width:57.14285%}.size5of7{width:71.42857%}.size6of7{width:85.71429%}.size1of8{width:12.5%}
.size3of8{width:37.5%}.size5of8{width:62.5%}.size7of8{width:87.5%}.size1of9{width:11.11111%}
.size2of9{width:22.22222%}.size4of9{width:44.44444%}.size5of9{width:55.55555%}.size7of9{width:77.77777%}
.size8of9{width:88.88888%}.size1of10{width:10%}.size3of10{width:30%}.size7of10{width:70%}
.size9of10{width:90%}.size1of11{width:9.09090%}.size2of11{width:18.18181%}.size3of11{width:27.27272%}
.size4of11{width:36.36363%}.size5of11{width:45.45454%}.size6of11{width:54.54545%}
.size7of11{width:63.63636%}.size8of11{width:72.72727%}.size9of11{width:81.81818%}
.size10of11{width:90.90909%}.size1of12{width:8.33333%}.size5of12{width:41.66666%}
.size7of12{width:58.33333%}.size11of12{width:91.66666%}.size100{width:100%}.line:after,.lastCell:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0!important;line-height:0;content:"."}
.line{*zoom:1}.comp.margin10{margin:10px}.comp.margin5{margin:5px}.comp.margin1{margin:1px}
.comp.margin0{margin:0}.whiteOnRed{color:white;background-color:#d3161c;margin:0!important;margin-top:1px!important}